.wb3d_hide_scrollbar {
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.wb3d_absolute{
	position: absolute;
}
.wb3d_absolute2{ 
	position: absolute; 
	display: inline-block;
}
.wb3d_hide_scrollbar::-webkit-scrollbar { /* WebKit */
	width: 0;
	height: 0;
}
.wb3d_radius{
	border-radius: 50%;
}
.wb3d_inlineblock{
	display: inline-block;
	white-space:nowrap;
}
.wb3d_opacity{
	opacity:0;
}
.wb3d_pointer{ 
	cursor: pointer;
}
html, body {
	overflow-x:hidden 
} 
#wb3d_waiting{
	width: 100%; 
	height:100%;
	background-color: #49269f;
	opacity:1;
	text-align: center;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 9999999;
}
#wb3d_displaynone{
	display: none;
}
#wb3d_waiting3{
	top: 50%;
	left: 50%;
	margin-left: -20px;
	margin-top: -20px;
	position: absolute;
}
#wb3dh_0{
    line-height:normal;
    font-size:12px;
    direction: ltr;
}