.update-nag,#update-nag{
    display: none;
}
#wpbody{
    height: 100%;
}
#wpwrap{
    background: linear-gradient(0deg, rgb(30, 140, 195) 0%, rgb(9, 100, 100) 50%);
}
.wb3d_class_button {
    padding: 20px 40px;
    background: #4b1819;
    cursor: pointer;
    z-index: 0;
    border-radius: 6px;
    border: none;
    outline: none;
    color: #fff;
}

.wb3d_class_button:before {
    content: '';
    background: linear-gradient(45deg, #fa0000, #ff7400, #fffc00, #49ff00, #00ffd8, #002cff, #7b00ff, #fa0000);
    position: absolute;
   
    background-size: 300%;
    z-index: -1;
    
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    animation: wb3d_animation 20s linear infinite;
    opacity: 0;
    transition: opacity .4s ease-in-out;
    border-radius: 6px;
    filter: blur(6px);
     top: -2px;
    left:-2px;
}

.wb3d_class_button:hover:before {
    opacity: 1;
}

.wb3d_class_button:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background: #040209;
    left: 0;
    z-index: -1;
    top: 0;
}

@keyframes wb3d_animation {
    0% { background-position: 0 0; }
    50% { background-position: 300% 0; }
    100% { background-position: 0 0; }
}
#wb3dh_0{
    line-height:normal;
    font-size:12px;
    direction: ltr;
}
#wb3d_0{
    position: absolute;
    top: 45%;
    width: 100%;
    height: 100%;
    text-align: center;
}

#wb3d_3{
    position: absolute;
    margin-left: -10px;
}
#wb3d_a{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0px;
    background: linear-gradient(0deg, rgb(30, 140, 195) 0%, rgb(9, 100, 100) 50%);
}