
#panel_div{
      overflow: hidden; 
      border: 3px solid #060639; 
      width: 750px;
      background-color: #7878f0;
      line-height:normal;
      height: 530px;
      position: fixed;
      top: 100px;
      left: 230px;
      z-index: 99999;
      color: #000;
}
#panel_div2{
      overflow-y:scroll;
      overflow-x:hidden;
      height: 516px;
}
#panel_header0{
      height: 30px;
      position: relative;
      background-color: #ccc;
}

#panel_submit{
      position: absolute;
      top: 498px;
      left: 652px;
      z-index: 12;
      padding: 6px 26px;
      border-radius: 3px;
}
#panel_label0{
      top: 5px;
      position: absolute;
      left: 10px; 
}
#panel_close2{
      width: 25px;
      height: 25px;
      top: 2px;
      position: absolute;
      right: 0px;
}
#panel_close2{
      width: 25px;
      height: 25px;
      margin-right: 8px;
}
#panel_fieldset{
      height: 296px;
      position: relative;
      top: 67px;
}
#panel_upload{
      height: 169px;
      width: 700px;
      text-align: left;
      float: left;
      border: 1px solid black;
      border-radius: 3px;
      position: relative;
      top:42px;
      left:5px;
}
#panel span{
      top: 41px;
      left: 20px;
      font-size: 18px;
      font-family: Arial;
      color: #000;
      position: absolute;
      font-weight: bold;
      white-space: nowrap;
}
#panel_height{
      position: absolute;
      left: 285px;
      top: 44px;
      width: 250px;
}
#panel_buttom{
      position: absolute;
      left: 485px;
      top: 37px;
}
#panel_margin{
      position: absolute;
      left: 485px;
      top: 115px;
}
#panel_relative{
      position: absolute;
      left: 13px;
      top: 122px;
}
#panel_relative2{
      position: absolute;
      left: 263px;
      top: 122px;
}
#panel_div_overflow{
      position: absolute;
      top: 46px;
      left: 61px;
}
#panel_input_buttom{
      width: 85px;
}