#afterbefore_div{
      overflow: hidden; 
      border: 3px solid #060639; 
      width: 750px;
      background-color: #7878f0;
      line-height:normal;
      height: 530px;
      position: fixed;
      top: 100px;
      left: 230px;
      z-index: 99999;
      color: #000;
}
#afterbefore_header0{
      height: 30px;
      position: relative;
      background-color: #ccc;
}
#afterbefore_submit{
      position: absolute;
      top: 497px;
      right: 651px;
      border-radius: 3px;
      z-index: 12;
      padding: 6px 26px;
}
#afterbefore_label0{
      top: 5px;
      position: absolute;
      right: 10px; 
}
#afterbefore_close2{
      width: 25px;height: 25px;
      top: 2px;
      position: absolute;
      left: 0px;
}
#afterbefore_div2{
      overflow:hidden;
      height: 516px;
}
#afterbefore_close2{
      width: 25px;
      height: 25px;
      margin-left: 8px;
}
#afterbefore_fieldset{
      height: 296px;
      position: absolute;
      top: 109px;
      right: 5px;
      width: 707px;
}
#afterbefore_upload{
      height: 222px;
      width: 700px;
      text-align: right;
      float: right;
      border-radius: 3px;
      position: relative;
      top:42px;
      right:5px;
}
#afterbefore_upload_button1{
      position: absolute;
      right: 10px;
      top: 26px;
      width: 180px;
      height: 25px;
}
#afterbefore_upload_link1{
      position: absolute;
      right: 200px;
      top: 23px;
      width: 435px;
      height: 30px;
      border-radius: 5px;
}
#afterbefore_upload_afterbefore1{
      position: absolute;
      right: 645px;
      top: 20px;
      width: 36px;
      height: 36px;
      border-radius: 4px;
}
#afterbefore_upload_button2{
      position: absolute;
      right: 10px;
      top: 76px;
      width: 180px;
      height: 25px;
}
#afterbefore_upload_link2{
      position: absolute;
      right: 200px;
      top: 74px;
      width: 435px;
      height: 30px;
      border-radius: 5px;
}
#afterbefore_upload_afterbefore2{
      position: absolute;
      right: 645px;
      top: 71px;
      width: 36px;
      height: 36px;
      border-radius: 4px;
}
#afterbefore_vertical{
      position: absolute;
      right: 325px;
      top: 205px;
      width: 95px;
      height: 32px;
      border-radius: 4px;
}
#afterbefore span{
      top: 41px;
      right: 20px;
      font-size: 18px;
      font-family: Arial;
      color: #000;
      position: absolute;
      font-weight: bold;
      white-space: nowrap;
}