#screans_div{
      overflow: hidden; 
      border: 3px solid #060639; 
      width: 750px;
      background-color: #7878f0;
      line-height:normal;
      height: 530px;
      position: fixed;
      top: 100px;
      left: 230px;
      z-index: 99999;
      color: #000;
}
#screans_div5{
      overflow:hidden;
      height: 516px;
}
#screans_header0{
      height: 30px;
      position: relative;
      background-color: #ccc;
}
#screans_submit{
      position: absolute;
      top: 498px;
      left: 652px;
      z-index: 12;
      padding: 6px 26px;
      border-radius: 3px;
}
#screans_label0{
      top: 5px;
      position: absolute;
      left: 10px; 
}
#screans_close2{
      width: 25px;
      height: 25px;
      top: 2px;
      position: absolute;
      right: 0px;
}
#screans_close2{
      width: 25px;
      height: 25px;
      margin-right: 8px;
}
#screans_fieldset{
      height: 399px;
      position: relative;
      top: 25px;
}
#screans span{
      top: 41px;
      left: 20px;
      font-size: 18px;
      font-family: Arial;
      color: #000;
      position: absolute;
      font-weight: bold;
      white-space: nowrap;
}
