
#youtube_div{
      overflow: hidden; 
      border: 3px solid #060639; 
      width: 750px;
      background-color: #7878f0;
      line-height:normal;
      height: 530px;
      position: fixed;
      top: 100px;
      left: 230px;
      z-index: 99999;
      color: #000;
}

#youtube_header0{
      height: 30px;
      position: relative;
      background-color: #ccc;
}
#youtube_submit{
      position: absolute;
      top: 498px;
      right: 652px;
      z-index: 12;
      padding: 6px 26px;
      border-radius: 3px;
}
#youtube_label0{
      top: 5px;
      position: absolute;
      right: 10px; 
}
#youtube_close2{
      width: 25px;
      height: 25px;
      top: 2px;
      position: absolute;
      left: 0px;
}
#youtube_div2{
      overflow:hidden;
      height: 516px;
}
#youtube_close2{
      width: 25px;
      height: 25px;
      margin-left: 8px;
}
#youtube_fieldset{
      height: 296px;
      position: relative;
      top: 67px;
      right: 2px;
      width: 709px;
}
#youtube_upload{
      height: 169px;
      width: 700px;
      text-align: right;
      float: right;
      border: 1px solid black;
      border-radius: 3px;
      position: relative;
      top:42px;
      right:3px;
}
#youtube_id_label{
      position: absolute;
      right: 212px;
      top: 75px;
}
#youtube_id{
      position: absolute;
      right: 292px;
      top: 67px;
      width: 197px;
      height: 30px;
      border-radius: 5px;
}
#youtube span{
      top: 41px;
      right: 20px;
      font-size: 18px;
      color: #000;
      position: absolute;
      font-weight: bold;
      white-space: nowrap;
}