#counter_div{
      overflow: hidden; 
      border: 3px solid#060639; 
      width: 750px;
      background-color:#7878f0;
      line-height:normal;
      height: 530px;
      position: fixed;
      top: 100px;
      left: 230px;
      z-index: 99999;
      color:#000;
}
#counter_div-loading1{
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgb(55 60 125 / 91%);
      z-index: 999999;
}
#counter_img-loading1{
      position: absolute;
      top: 220px;
      left: 316px;
}
#counter_header0{
      height: 30px;
      position: relative;
      background-color:#ccc;
}
#counter_s1{
      overflow-y:scroll;
      overflow-x:hidden;
      height: 516px;
}
#counter_submit{
      position: absolute;
      top: 497px;
      left: 651px;
      z-index: 12;
      padding: 6px 26px;
      border-radius: 3px;
}
#counter_label0{
      top: 5px;
      position: absolute;
      left: 10px; 
}
#counter_close2{
      width: 25px;height: 25px;
      top: 2px;
      position: absolute;
      right: 0px;
}
#counter_close2{
      width: 25px;
      height: 25px;
      margin-right: 8px;
}
#counter_fieldset{
      height: 353px;
      position: relative;
      top: 21px;
}
#counter_menu{

      height: 250px;
      width: 700px;
      text-align: left;
      float: left;
      border: 1px solid black;
      border-radius: 3px;
      position: relative;
      top:42px;
      left:5px;
}

#counter_reset{
      position: absolute;
      left: 669px;
      top: 52px;
      z-index: 7;
}
#counter_label_reset{
      position: absolute;
      left: 541px;
      top: 48px;
      z-index: 7;
}
#counter_time{
      position: absolute;
      left: 404px;
      top: 40px;
      width: 100px;
      z-index: 7;
}
#counter_label_time{
      position: absolute;
      left: 371px;
      top: 48px;
      z-index: 7;
}
#counter_label_atext{
    position: absolute;
    left: 222px;
    top: 91px;
}
#counter_atext{
    position: absolute;
    left: 307px;
    top: 83px;
    width: 100px;
    z-index: 7;
}
#counter_label_text{
      position: absolute;
      left: 185px;
      top: 48px;
}
#counter_text{
      position: absolute;
      left: 234px;
      top: 40px;
      width: 100px;
      z-index: 7;
}
#counter_label_fontsize{
      position: absolute;
      top: 134px;
      left: 406px;
}
#counter_fontsize{
      position: absolute;
      top: 125px;
      left: 460px;
      width: 60px;
}
#counter_label_fontname{
      position: absolute;
      left: 10px;
      top: 48px;
}
#counter_fontname{
      position: absolute;
      top: 40px;
      left: 42px;
      width: 100px;
}
#counter_label_left_padding{
      position: absolute;
      top: 209px;
      left: 534px;
}
#counter_left_padding{
      position: absolute;
      top: 204px;
      left: 609px;
      width: 60px;
      height: 30px;
}
#counter_label_right_padding{
      position: absolute;
      top: 209px;
      left: 205px;
}
#counter_right_padding{
      position: absolute;
      top: 204px;
      left: 290px;
      width: 60px;
      height: 30px;
}
#counter_label_top_padding{
      position: absolute;
      top: 210px;
      left: 52px;
}
#counter_top_padding{
      position: absolute;
      top: 204px;
      left: 128px;
      width: 60px;
      height: 30px;
}
#counter_label_bottom_padding{
      position: absolute;
      top: 209px;
      left: 364px;
}
#counter_bottom_padding{
      position: absolute;
      top: 204px;
      left: 460px;
      width: 60px;
      height: 30px;
}
#counter_label_fontweight{
      position: absolute;
      top: 134px;
      left: 539px;
}
#counter_fontweight{
      position: absolute;
      top: 125px;
      left: 609px;
      width: 60px;
      height: 30px;
}
#counter_label_line_height{
      position: absolute;
      top: 134px;
      left: 220px;
}
#counter_line_height{
      position: absolute;
      top: 125px;
      left: 290px;
      width: 60px;
}
#counter_label_decoration{
      position: absolute;
      top: 134px;
      left: 5px;
      font-size: 12px;
}
#counter_decoration{
      position: absolute;
      top: 125px;
      left: 88px;
      width: 100px;
}
#counter_demo{
      width: 730px;
      height: auto;
      position: relative;
      margin-top: 30px;
}
#counter_demo1{
      position: relative;
      left: 10px;
      background-color:#29c163;
      display: inline-block;
      margin: 10px 0 25px 10px;
}
#counter_demo2{
      padding: 10px 20px;
      font-size: 12px;
      font-family: Arial;
      color:#fff;
}

#counter span{
      top: 41px;
      left: 20px;
      font-size: 18px;
      font-family: Arial;
      color:#000;
      position: absolute;
      font-weight: bold;
      white-space: nowrap;
}
