
.wb3d_typewriter {
      opacity:1;
      -webkit-animation:wb3d_typewriter .6s infinite;
      animation:wb3d_typewriter .6s infinite
}
@keyframes wb3d_typewriter {
      50% {
            opacity:0
      }
}
@-webkit-keyframes wb3d_typewriter {
      0% {
            opacity:1
      }
      50% {
            opacity:0
      }
      100% {
            opacity:1
      }
}
#typewriter_div{
      overflow: hidden; 
      border: 3px solid #060639; 
      width: 750px;
      background-color: #7878f0;
      line-height:normal;
      height: 530px;
      position: fixed;
      top: 100px;
      left: 230px;
      z-index: 99999;
      color: #000;
}
#typewriter_div-loading1{
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgb(55 60 125 / 91%);
      z-index: 999999;
}
#typewriter_img-loading1{
      position: absolute;
      top: 220px;
      right: 316px;
}
#typewriter_header0{
      height: 30px;
      position: relative;
      background-color: #ccc;
}
#typewriter_s1{
      overflow-y:scroll;
      overflow-x:hidden;
      height: 516px;
}
#typewriter_submit{
      position: absolute;
      top: 497px;
      right: 651px;
      z-index: 12;
      padding: 6px 26px;
      border-radius: 3px;
}
#typewriter_label0{
      top: 5px;
      position: absolute;
      right: 10px; 
}
#typewriter_close2{
      width: 25px;
      height: 25px;
      top: 2px;
      position: absolute;
      left: 0px;
}
#typewriter_close2{
      width: 25px;
      height: 25px;
      margin-left: 8px;
}
#typewriter_fieldset{
      height: 353px;
      position: relative;
      top: 21px;
}
#typewriter_menu{
      height: 250px;
      width: 700px;
      text-align: right;
      float: right;
      border: 1px solid black;
      border-radius: 3px;
      position: relative;
      top:42px;
      right:5px;
}
#typewriter_label_text{
      position: absolute;
      right: 5px;
      top: 15px;
}
#typewriter_text{
      position: absolute;
      right: 33px;
      top: 3px;
      height: 90px;
      width: 636px;
      z-index: 7;
}
#typewriter_label_delay{
      position: absolute;
      top: 117px;
      right: 427px;
      width: 100px;
      height: 30px;
}
#typewriter_delay{
      position: absolute;
      top: 110px;
      right: 459px;
      width: 60px;
      height: 30px;
}
#typewriter_label_speed1{
      position: absolute;
      top: 119px;
      right: 237px;
}
#typewriter_speed1{
      position: absolute;
      top: 110px;
      right: 290px;
      width: 60px;
}
#typewriter_label_fontsize{
      position: absolute;
      top: 163px;
      right: 406px;
}
#typewriter_fontsize{
      position: absolute;
      top: 157px;
      right: 460px;
      width: 60px;
}
#typewriter_label_fontname{
      position: absolute;
      right: 57px;
      top: 116px;
}
#typewriter_fontname{
      position: absolute;
      top: 110px;
      right: 87px;
      width: 100px;
}
#typewriter_label_left_padding{
      position: absolute;
      top: 209px;
      right: 534px;
}
#typewriter_left_padding{
      position: absolute;
      top: 204px;
      right: 609px;
      width: 60px;
      height: 30px;
}
#typewriter_label_right_padding{
      position: absolute;
      top: 209px;
      right: 205px;
}
#typewriter_right_padding{
      position: absolute;
      top: 204px;
      right: 290px;
      width: 60px;
      height: 30px;
}
#typewriter_label_top_padding{
      position: absolute;
      top: 210px;
      right: 52px;
}
#typewriter_top_padding{
      position: absolute;
      top: 204px;
      right: 128px;
      width: 60px;
      height: 30px;
}
#typewriter_label_bottom_padding{
      position: absolute;
      top: 209px;
      right: 364px;
}
#typewriter_bottom_padding{
      position: absolute;
      top: 204px;
      right: 460px;
      width: 60px;
      height: 30px;
}
#typewriter_label_fontweight{
      position: absolute;
      top: 163px;
      right: 539px;
}
#typewriter_fontweight{
      position: absolute;
      top: 157px;
      right: 609px;
      width: 60px;
      height: 30px;
}
#typewriter_label_line_height{
      position: absolute;
      top: 163px;
      right: 220px;
}
#typewriter_line_height{
      position: absolute;
      top: 157px;
      right: 290px;
      width: 60px;
}
#typewriter_label_decoration{
      position: absolute;
      top: 163px;
      right: 5px;
      font-size: 12px;
}
#typewriter_decoration{
      position: absolute;
      top: 157px;
      right: 88px;
      width: 100px;
}
#typewriter_type_line{
      position: absolute;
      top: 110px;
      right: 589px;
      width: 80px;
}
#typewriter_demo{
      width: 730px;
      height: auto;
      position: relative;
      margin-top: 30px;
}
#typewriter_demo1{
      position: relative;
      right: 10px;
      background-color: #29c163;
      display: inline-block;
      margin: 10px 0 25px 10px;
}
#typewriter_demo2{
      padding: 10px 20px;
      font-size: 12px;
      color: #fff;
}

#typewriter span{
      top: 41px;
      right: 20px;
      font-size: 18px;
      color: #000;
      position: absolute;
      font-weight: bold;
      white-space: nowrap;
}
