.wb3d_typewriter {
      opacity:1;
      -webkit-animation:wb3d_typewriter .6s infinite;
      animation:wb3d_typewriter .6s infinite
}
@keyframes wb3d_typewriter {
      50% {
            opacity:0
      }
}
@-webkit-keyframes wb3d_typewriter {
      0% {
            opacity:1
      }
      50% {
            opacity:0
      }
      100% {
            opacity:1
      }
}
