#text_div{
      overflow: hidden; 
      border: 3px solid #060639; 
      width: 750px;
      background-color: #7878f0;
      line-height:normal;
      height: 530px;
      position: fixed;
      top: 100px;
      left: 230px;
      z-index: 99999;
      color: #000;
}
#text_div2{
      overflow-y:scroll;
      overflow-x:hidden;
      height: 516px;
}
#text_div-loading1{
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgb(55 60 125 / 91%);
      z-index: 999999;
}
#text_img-loading1{
      position: absolute;
      top: 220px;
      right: 316px;
}
#text_header0{
      height: 30px;
      position: relative;
      background-color: #ccc;
}
#text_submit{
      position: absolute;
      top: 497px;
      right: 651px;
      z-index: 12;
      padding: 6px 26px;
      border-radius: 3px;
}
#text_label0{
      top: 5px;
      position: absolute;
      right: 10px; 
}
#text_close2{
      width: 25px;
      height: 25px;
      top: 2px;
      position: absolute;
      left: 0px;
}
#text_close2{
      width: 25px;
      height: 25px;
      margin-left: 8px;
}
#text_fieldset{
      height: 370px;
      position: relative;
      top: 21px;
}
#text_menu{
      height: 254px;
      width: 700px;
      text-align: right;
      float: right;
      border: 1px solid black;
      border-radius: 3px;
      position: relative;
      top:42px;
      right:5px;
}
#text_label_text{
      position: absolute;
      right: 5px;
      top: 15px;
}
#text_text{
      position: absolute;
      right: 33px;
      top: 3px;
      height: 90px;
      width: 636px;
      z-index: 7;
}
#text_label_tag{
      position: absolute;
      top: 115px;
      right: 430px;
      width: 100px;
      height: 30px;
}
#text_tag{
      position: absolute;
      top: 110px;
      right: 459px;
      width: 60px;
      height: 30px;
}
#text_font_style{
      position: absolute;
      top: 110px;
      right: 215px;
}
#text_left{
      width: 30px;
      height: 30px;
      border: 1px solid blue;
}
#text_justify{
      width: 30px;
      height: 30px;
}
#text_center{
      width: 30px;
      height: 30px;
}
#text_right{
      width: 30px;
      height: 30px;
}
#text_label_fontsize{
      position: absolute;
      top: 163px;
      right: 406px;
}
#text_fontsize{
      position: absolute;
      top: 157px;
      right: 460px;
      width: 60px;
}
#text_label_fontname{
      position: absolute;
      right: 57px;
      top: 116px;
}
#text_fontname{
      position: absolute;
      top: 110px;
      right: 87px;
      width: 100px;
}
#text_label_left_padding{
      position: absolute;
      top: 209px;
      right: 534px;
}
#text_left_padding{
      position: absolute;
      top: 204px;
      right: 609px;
      width: 60px;
      height: 30px;
}
#text_label_right_padding{
      position: absolute;
      top: 209px;
      right: 205px;
}
#text_right_padding{
      position: absolute;
      top: 204px;
      right: 290px;
      width: 60px;
      height: 30px;
}
#text_label_top_padding{
      position: absolute;
      top: 210px;
      right: 52px;
}
#text_top_padding{
      position: absolute;
      top: 204px;
      right: 128px;
      width: 60px;
      height: 30px;
}
#text_label_bottom_padding{
      position: absolute;
      top: 209px;
      right: 364px;
}
#text_bottom_padding{
      position: absolute;
      top: 204px;
      right: 460px;
      width: 60px;
      height: 30px;
}
#text_label_fontweight{
      position: absolute;
      top: 163px;
      right: 539px;
}
#text_fontweight{
      position: absolute;
      top: 157px;
      right: 609px;
      width: 60px;
      height: 30px;
}
#text_label_line_height{
      position: absolute;
      top: 163px;
      right: 220px;
}
#text_line_height{
      position: absolute;
      top: 157px;
      right: 290px;
      width: 60px;
}
#text_label_decoration{
      position: absolute;
      top: 163px;
      right: 5px;
      font-size: 12px;
}
#text_decoration{
      position: absolute;
      top: 157px;
      right: 88px;
      width: 100px;
}
#text_type_line{
      position: absolute;
      top: 110px;
      right: 589px;
      width: 80px;
}
#text_demo{
      width: 730px;
      height: auto;
      position: relative;
      margin-top: 30px;
}
#text_demo1{
      position: relative;
      right: 10px;
      background-color: #29c163;
      display: inline-block;
      margin: 10px 0 25px 10px;
}
#text_demo2{
      padding: 10px 20px;
      font-size: 12px;
      color: #fff;
}
#text span{
      top: 41px;
      right: 20px;
      font-size: 18px;
      color: #000;
      position: absolute;
      font-weight: bold;
      white-space: nowrap;
}
