@keyframes wb3d_imgsvg {
  to {
    transform: rotate(360deg)
  }
}
#imgsvg_eff{
      top: 109px;
      position: absolute;
      right: 124px;
      width: 140px;
}
#imgsvg_eff_label{
      top: 116px;
      position: absolute;
      right: 78px;
}
#imgsvg_rotate{
      top: 149px;
      position: absolute;
      right: 124px;
      width: 70px;
}
#imgsvg_note{
      position: absolute;
      top: 235px;
      right: 5px;
      color:#7c0707;
      font-size: 13px;
}
#imgsvg_rotate_label{
      top: 156px;
      position: absolute;
      right: 78px;
}
#imgsvg_x{
      top: 109px;
      position: absolute;
      right: 365px;
}
#imgsvg_x_label{
      top: 116px;
      position: absolute;
      right: 348px;
}
#imgsvg_speed{
      top: 149px;
      position: absolute;
      right: 365px;
}
#imgsvg_speed_label{
      top: 156px;
      position: absolute;
      right: 320px;
}

#imgsvg_click{
      top: 149px;
      position: absolute;
      right: 564px;
}
#imgsvg_click_label{
      top: 156px;
      position: absolute;
      right: 476px;
}
#imgsvg_y{
      top: 109px;
      position: absolute;
      right: 564px;
}
#imgsvg_y_label{
      top: 116px;
      position: absolute;
      right: 546px;
}
#imgsvg_div {
      overflow: hidden; 
      border: 3px solid #060639; 
      width: 750px;
      background-color: #7878f0;
      line-height:normal;
      height: 530px;
      position: fixed;
      top: 100px;
      left: 230px;
      z-index: 99999;
      color: #000;
}
#imgsvg_header0 {
      height: 30px;
      position: relative;
      background-color: #ccc;
}
#imgsvg_div_0 {
      overflow:hidden;
      height: 516px;
}
#imgsvg_submit {
      position: absolute;
      top: 498px;
      right: 672px;
      z-index: 12;
      padding: 6px 26px;
      border-radius: 3px;
}
#imgsvg_label0 {
      top: 5px;
      position: absolute;
      right: 10px; 
}

#imgsvg_fieldset {
      position: absolute;
      top: 106px;
      height: 274px;
      right: 5px;
      width: 727px;
}
#imgsvg_upload {
      height: 222px;
      width: 700px;
      text-align: right;
      float: right;
      border-radius: 3px;
      position: relative;
      top:27px;
      right:5px;
}
#imgsvg_upload_button1 {
      position: absolute;
      right: 10px;
      top: 26px;
      width: 180px;
      height: 25px;
}
#imgsvg_upload_link1 {
      position: absolute;
      right: 200px;
      top: 23px;
      width: 435px;
      height: 30px;
      border-radius: 5px;
}
#imgsvg_upload_img1 {
      position: absolute;
      right: 645px;
      top: 20px;
      width: 36px;
      height: 36px;
      border-radius: 4px;
}
#imgsvg_close2 {
      width: 25px;
      height: 25px;
      top: 2px;
      position: absolute;
      right: 0px;
      margin-right: 8px;
}
#imgsvg span {
      top: 41px;
      right: 20px;
      font-size: 18px;
      font-family: Arial;
      color: #000;
      position: absolute;
      font-weight: bold;
      white-space: nowrap;
}