
#vscroll_div{
      overflow: hidden; 
      border: 3px solid #060639; 
      width: 750px;
      background-color: #7878f0;
      line-height:normal;
      height: 530px;
      position: fixed;
      top: 100px;
      left: 230px;
      z-index: 99999;
      color: #000;
}
#vscroll_header0{
      height: 30px;
      position: relative;
      background-color: #ccc;
}
#vscroll_div2{
      overflow:hidden;
      height: 516px;
}
#vscroll_submit{
      position: absolute;
      top: 499px;
      right: 654px;
      z-index: 12;
      padding: 6px 26px;
      border-radius: 3px;
}
#vscroll_label0{
      top: 5px;
      position: absolute;
      right: 10px; 
}
#vscroll_close2{
      width: 25px;
      height: 25px;
      top: 2px;
      position: absolute;
      left: 0px;
}
#vscroll_close2{
      width: 25px;
      height: 25px;
      margin-left: 8px;
}
#vscroll_fieldset{
      height: 296px;
      width: 709px;
      position: relative;
      top: 67px;
      right: 5px;
}
#vscroll_selectmenu{
      position: absolute;
      top: 124px;
      right: 492px;
      width: 100px;
}
#vscroll_handle_label{
      position: absolute;
      top: 132px;
      right: 408px;
}
#vscroll_div_overflow{
      position: absolute;
      top: 180px;
      right: 264px;
      border-radius: 5px;
}
#vscroll_upload{
      height: 175px;
      width: 665px;
      text-align: right;
      float: right;
      border: 1px solid black;
      border-radius: 3px;
      position: relative;
      top: 45px;
      right: 5px;
      padding: 3px 16px;
}
#vscroll_upload_button1{
      position: absolute;
      right: 10px;
      top: 26px;
      width: 180px;
      height: 25px;
}
#vscroll_upload_link1{
      position: absolute;
      right: 200px;
      top: 23px;
      width: 435px;
      height: 30px;
      border-radius: 5px;
}
#vscroll_upload_pic1{
      position: absolute;
      right: 645px;
      top: 20px;
      width: 36px;
      height: 36px;
      border-radius: 4px;
}
#vscroll_upload_button2{
      position: absolute;
      right: 10px;
      top: 76px;
      width: 180px;
      height: 25px;
}
#vscroll_upload_link2{
      position: absolute;
      right: 200px;
      top: 73px;
      width: 435px;
      height: 30px;
      border-radius: 5px;
}
#vscroll_upload_pic2{
      position: absolute;
      right: 645px;
      top: 70px;
      width: 36px;
      height: 36px;
      border-radius: 4px;
}
#vscroll span{
      top: 41px;
      right: 20px;
      font-size: 18px;
      color: #000;
      position: absolute;
      font-weight: bold;
      white-space: nowrap;
}