#nav_div{
      overflow: hidden; 
      width: 750px;
      background-color: #7878f0;
      line-height:normal;
      height: 530px;
      position: fixed;
      top: 100px;
      left: 230px;
      z-index: 99999;
      color: #000;
}
#nav_div5{
      overflow-y:scroll;
      overflow-x:hidden;
      height: 516px;
}
#nav_header0{
      height: 30px;
      position: relative;
      background-color: #ccc;
}
#nav_submit{
      position: absolute;
      top: 498px;
      left: 652px;
      z-index: 12;
      padding: 6px 26px;
      border-radius: 3px;
}
#nav_label0{
      top: 5px;
      position: absolute;
      left: 10px; 
}
#nav_close2{
      width: 25px;
      height: 25px;
      top: 2px;
      position: absolute;
      right: 0px;
}
#nav_close2{
      width: 25px;
      height: 25px;
      margin-right: 8px;
}
#nav_fieldset{
      height: 399px;
      position: relative;
      top: 25px;
}
#nav_upload{
      height: 373px;
      width: 700px;
      text-align: left;
      float: left;
      border: 1px solid black;
      border-radius: 3px;
      position: relative;
      top: 3px;
      left: 5px;
}
#nav_ver{
      position: absolute;
      left: 119px;
      top: 175px;
      height: 30px;
      width: 100px;
}
#nav_label_ver{
      position: absolute;
      top: 184px;
      left: 76px;
}
#nav_padding{
      position: absolute;
      top: 174px;
      left: 511px;
      height: 30px;
      width: 100px;
}
#nav_label_padding{
      position: absolute;
      top: 182px;
      left: 454px;
}
#nav span{
      top: 41px;
      left: 20px;
      font-size: 18px;
      font-family: Arial;
      color: #000;
      position: absolute;
      font-weight: bold;
      white-space: nowrap;
}
