
#vscrollslider_div{
      overflow: hidden; 
      border: 3px solid #060639; 
      width: 750px;
      background-color: #7878f0;
      line-height:normal;
      height: 530px;
      position: fixed;
      top: 100px;
      left: 230px;
      z-index: 99999;
      color: #000;
}
#vscrollslider_div2{
      overflow-y:scroll;
      overflow-x:hidden;
      height: 516px;
}
#vscrollslider_header0{
      height: 30px;
      position: relative;
      background-color: #ccc;
}

#vscrollslider_submit{
      position: absolute;
      top: 499px;
      left: 654px;
      z-index: 12;
      padding: 6px 26px;
      border-radius: 3px;
}
#vscrollslider_label0{
      top: 5px;
      position: absolute;
      left: 10px; 
}
#vscrollslider_close2{
      width: 25px;
      height: 25px;
      top: 2px;
      position: absolute;
      right: 0px;
}
#vscrollslider_close2{
      width: 25px;
      height: 25px;
      margin-right: 8px;
}
#vscrollslider_fieldset{
      height: 296px;
      width: 709px;
      position: relative;
      top: 67px;
      left: 5px;
}
#vscrollslider_div_overflow{
      position: absolute;
      top: 180px;
      left: 264px;
      border-radius: 5px;
}
#vscrollslider_upload{
      height: 175px;
      width: 665px;
      text-align: left;
      float: left;
      border: 1px solid black;
      border-radius: 3px;
      position: relative;
      top: 45px;
      left: 5px;
      padding: 3px 16px;
}
#vscrollslider_upload_button1{
      position: absolute;
      left: 10px;
      top: 26px;
      width: 180px;
      height: 25px;
}
#vscrollslider_upload_link1{
      position: absolute;
      left: 200px;
      top: 23px;
      width: 435px;
      height: 30px;
      border-radius: 5px;
}
#vscrollslider_upload_pic1{
      position: absolute;
      left: 645px;
      top: 20px;
      width: 36px;
      height: 36px;
      border-radius: 4px;
}
#vscrollslider_upload_button2{
      position: absolute;
      left: 10px;
      top: 76px;
      width: 180px;
      height: 25px;
}
#vscrollslider_upload_link2{
      position: absolute;
      left: 200px;
      top: 73px;
      width: 435px;
      height: 30px;
      border-radius: 5px;
}
#vscrollslider_upload_pic2{
      position: absolute;
      left: 645px;
      top: 70px;
      width: 36px;
      height: 36px;
      border-radius: 4px;
}
#vscrollslider_selectmenu{
      position: absolute;
      top: 124px;
      left: 492px;
      width: 100px;
}
#vscrollslider_handle_label{
      position: absolute;
      top: 132px;
      left: 408px;
}
#vscrollslider span{
      top: 41px;
      left: 20px;
      font-size: 18px;
      font-family: Arial;
      color: #000;
      position: absolute;
      font-weight: bold;
      white-space: nowrap;
}