
#ajaxwb3d_div {
    overflow: hidden; 
    border: 3px solid #060639; 
    width: 750px;
    background-color: #7878f0;
    line-height:normal;
    height: 530px;
    position: fixed;
    top: 100px;
    left: 230px;
    z-index: 99999;
    color: #000;
}
#post_div5 {
    overflow-y:scroll;
    overflow-x:hidden;
    height: 516px;
}
#grouplayers_div5 {
    overflow-y:scroll;
    overflow-x:hidden;
    height: 555px;
}
#ajaxwb3d_div2 {
    overflow-y:scroll;
    overflow-x:hidden;
    height: 516px;
}
#ajaxwb3d_fieldset2 {
    top: 96px;
    right: 5px;
    height:96px;
    width: 676px;
    position: absolute;
    background-color: #ff3b3b4d;
}
#ajaxwb3d_header0 {
    height: 30px;
    position: relative;
    background-color: #ccc;
}
#div_ajaxwb3d_submit{
    position: absolute;
    top: 496px;
    right: 671px;
    z-index: 12;
}
#ajaxwb3d_submit {
    padding: 6px 26px;
    border-radius: 3px;
}
#ajaxwb3d_label0 {
    top: 5px;
    position: absolute;
    right: 10px; 
}
#ajaxwb3d_close2 {
    width: 25px;
    height: 25px;
    top: 2px;
    position: absolute;
    left: 0px;
}
#ajaxwb3d_hscroll_from {
    position: absolute;
    top: 2px;
    right: 237px;
    width: 80px;
}
#ajaxwb3d_label_active_vscroll {
    position: absolute;
    top: -16px;
    right: 171px;
}
#ajaxwb3d_label_active_vscroll_mt {
    position: absolute;
    top: 30px;
    right: 7px;
}

#ajaxwb3d_label_active_vscroll_mt2 {
    position: absolute;
    top: 30px;
    right: 180px;
}

#ajaxwb3d_label_active_vscroll_mt3 {
    position: absolute;
    top: 30px;
    right: 351px;
}

#ajaxwb3d_label_active_vscroll_mt4 {
    position: absolute;
    top: 30px;
    right: 518px;
}
#ajaxwb3d_active_vscroll {
    position: absolute;
    top: -12px;
    right: 262px;
}
#ajaxwb3d_active_vscroll_mt {
    position: absolute;
    top: 22px;
    right: 88px;
    width: 78px;
}
#ajaxwb3d_active_vscroll_mt2 {
    position: absolute;
    top: 22px;
    right: 259px;
    width: 78px;
}
#ajaxwb3d_active_vscroll_mt3 {
    position: absolute;
    top: 22px;
    right: 429px;
    width: 78px;
}
#ajaxwb3d_active_vscroll_mt4 {
    position: absolute;
    top: 22px;
    right: 598px;
    width: 78px;
}
#ajaxwb3d_attention {
    position: absolute;
    top: 69px;
    right: 180px;
    color: #910909;
}
#ajaxwb3d_close2 {
    width: 25px;
    height: 25px;
    margin-left: 8px;
}
#ajaxwb3d_fieldset {
    height: 296px;
    position: relative;
    top: 67px;
    width: 727px;
    right: 5px;
}
#ajaxwb3d_upload {
    height: 260px;
    width: 700px;
    text-align: right;
    float: right;
    border-radius: 3px;
    position: relative;
    top:4px;
    right:5px;
}
#ajaxwb3d_id_label {
    position: absolute;
    right: 15px;
    top: 42px;
}
#ajaxwb3d_id {
    position: absolute;
    right: 105px;
    top: 33px;
    width: 299px;
    height: 30px;
    border-radius: 5px;
}
#ajaxwb3d span {
    top: 41px;
    right: 20px;
    font-size: 18px;
    font-family: Arial;
    color: #000;
    position: absolute;
    font-weight: bold;
    white-space: nowrap;
}
#ajaxwb3d_ajax {
    position: absolute;
    right: 440px;
    top: 41px;
    width: 250px;
}
#ajaxwb3d_reverse {
    position: absolute;
    right: 80px;
    top: 241px;
}
#ajaxwb3d_overflow {
    position: absolute;
    right: 300px;
    top: 241px;
}
#ajaxwb3d_reset {
    position: absolute;
    right: 550px;
    top: 241px;
}
#ajaxwb3d_scroll_change_slide {
    position: absolute;
    right: 500px;
    top: 41px;
    width: 250px;
}
