
#audio_div{
      overflow: hidden; 
      border: 3px solid #060639; 
      width: 750px;
      background-color: #7878f0;
      line-height:normal;
      height: 530px;
      position: fixed;
      top: 100px;
      left: 230px;
      z-index: 99999;
      color: #000;
}
#audio_header0{
      height: 30px;
      position: relative;
      background-color: #ccc;
}
#audio_div5{
      overflow-y:scroll;
      overflow-x:hidden;
      height: 516px;
}
#audio_submit{
      position: absolute;
      top: 497px;
      left: 651px;
      z-index: 12;
      padding: 6px 26px;
      border-radius: 3px;
}
#audio_label0{
      top: 5px;
      position: absolute;
      left: 10px; 
}
#audio_close2{
      width: 25px;height: 25px;
      top: 2px;
      position: absolute;
      right: 0px;
}
#audio_close2{
      width: 25px;
      height: 25px;
      margin-right: 8px;
}
#audio_fieldset{
      height: 296px;
      position: absolute;
      top: 100px;
      left: 5px;
      width: 707px;
}
#audio_upload{
      height: 180px;
      width: 700px;
      text-align: left;
      float: left;
      position: relative;
      top: 80px;
      left: 22px;
}
#audio_upload_button1{
      position: absolute;
      left: 10px;
      top: 26px;
      width: 180px;
      height: 25px;
}
#audio_upload_link1{
      position: absolute;
      left: 200px;
      top: 23px;
      width: 435px;
      height: 30px;
      border-radius: 5px;
}
#audio span{
      top: 41px;
      left: 20px;
      font-size: 18px;
      font-family: Arial;
      color: #000;
      position: absolute;
      font-weight: bold;
      white-space: nowrap;
}
#audio_div_download{
      position: absolute;
      top: 81px;
      left: 365px;
      border-radius: 5px;
}
