#button2_div{
      overflow: hidden; 
      border: 3px solid #060639; 
      width: 750px;
      background-color: #7878f0;
      line-height:normal;
      height: 530px;
      position: fixed;
      top: 100px;
      left: 230px;
      z-index: 99999;
      color: #000;
}
#button2_div-loading1{
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgb(55 60 125 / 91%);
      z-index: 999999;
}
#button2_img-loading1{
      position: absolute;
      top: 220px;
      left: 316px;
}
#button2_header0{
      height: 30px;
      position: relative;
      background-color: #ccc;
}
#button2_s1{
      overflow-y:scroll;
      overflow-x:hidden;
      height: 516px;
}
#button2_submit{
      position: absolute;
      top: 498px;
      left: 653px;
      z-index: 12;
      padding: 6px 26px;
      border-radius: 3px;
}
#button2_label0{
      top: 5px;
      position: absolute;
      left: 10px; 
}
#button2_close2{
      width: 25px;height: 25px;
      top: 2px;
      position: absolute;
      right: 0px;
}
#button2_close2{
      width: 25px;
      height: 25px;
      margin-right: 8px;
}
#button2_fieldset{
      height: 353px;
      position: relative;
      top: 21px;
}
#button2_menu{
      height: 250px;
      width: 700px;
      text-align: left;
      float: left;
      border: 1px solid black;
      border-radius: 3px;
      position: relative;
      top:42px;
      left:5px;
}
#button2_label_text{
      position: absolute;
      left: 5px;
      top: 15px;
}
#button2_text{
      position: absolute;
      left: 33px;
      top: 3px;
      height: 90px;
      width: 636px;
      z-index: 7;
}
#button2_label_tag{
      position: absolute;
      top: 115px;
      left: 430px;
      width: 100px;
      height: 30px;
}
#button2_tag{
      position: absolute;
      top: 110px;
      left: 459px;
      width: 60px;
      height: 30px;
}
#button2_font_style{
      position: absolute;
      top: 110px;
      left: 215px;
}
#button2_left{
      width: 30px;
      height: 30px;
      border: 1px solid blue;
}
#button2_justify{
      width: 30px;
      height: 30px;
}
#button2_center{
      width: 30px;
      height: 30px;
}
#button2_right{
      width: 30px;
      height: 30px;
}
#button2_label_fontsize{
      position: absolute;
      top: 163px;
      left: 406px;
}
#button2_fontsize{
      position: absolute;
      top: 157px;
      left: 460px;
      width: 60px;
}
#button2_label_fontname{
      position: absolute;
      left: 57px;
      top: 116px;
}
#button2_fontname{
      position: absolute;
      top: 110px;
      left: 87px;
      width: 100px;
}
#button2_label_left_padding{
      position: absolute;
      top: 209px;
      left: 534px;
}
#button2_left_padding{
      position: absolute;
      top: 204px;
      left: 609px;
      width: 60px;
      height: 30px;
}
#button2_label_right_padding{
      position: absolute;
      top: 209px;
      left: 205px;
}
#button2_right_padding{
      position: absolute;
      top: 204px;
      left: 290px;
      width: 60px;
      height: 30px;
}
#button2_label_top_padding{
      position: absolute;
      top: 210px;
      left: 52px;
}
#button2_top_padding{
      position: absolute;
      top: 204px;
      left: 128px;
      width: 60px;
      height: 30px;
}
#button2_label_bottom_padding{
      position: absolute;
      top: 209px;
      left: 364px;
}
#button2_bottom_padding{
      position: absolute;
      top: 204px;
      left: 460px;
      width: 60px;
      height: 30px;
}
#button2_label_fontweight{
      position: absolute;
      top: 163px;
      left: 539px;
}
#button2_fontweight{
      position: absolute;
      top: 157px;
      left: 609px;
      width: 60px;
      height: 30px;
}
#button2_label_line_height{
      position: absolute;
      top: 163px;
      left: 220px;
}
#button2_line_height{
      position: absolute;
      top: 157px;
      left: 290px;
      width: 60px;
}
#button2_label_decoration{
      position: absolute;
      top: 163px;
      left: 5px;
      font-size: 12px;
}
#button2_decoration{
      position: absolute;
      top: 157px;
      left: 88px;
      width: 100px;
}
#button2_type_line{
      position: absolute;
      top: 110px;
      left: 589px;
      width: 80px;
}
#button2_demo{
      width: 730px;
      height: auto;
      position: relative;
      margin-top: 30px;
}
#button2_demo1{
      position: relative;
      left: 10px;
      background-color: #29c163;
      display: inline-block;
      margin: 10px 0 25px 10px;
}
#button2_demo2{
      padding: 10px 20px;
      font-size: 12px;
      font-family: Arial;
      color: #fff;
}

#button2 span{
      top: 41px;
      left: 20px;
      font-size: 18px;
      font-family: Arial;
      color: #000;
      position: absolute;
      font-weight: bold;
      white-space: nowrap;
}
