
#video_div{
      overflow: hidden; 
      border: 3px solid #060639; 
      width: 750px;
      background-color: #7878f0;
      line-height:normal;
      height: 530px;
      position: fixed;
      top: 100px;
      left: 230px;
      z-index: 99999;
      color: #000;
}
#video_div5{
      overflow:hidden;
      height: 516px;
}
#video_header0{
      height: 30px;
      position: relative;
      background-color: #ccc;
}
#video_submit{
      position: absolute;
      top: 498px;
      right: 652px;
      z-index: 12;
      padding: 6px 26px;
      border-radius: 3px;
}
#video_label0{
      top: 5px;
      position: absolute;
      right: 10px; 
}
#video_close2{
      width: 25px;height: 25px;
      top: 2px;
      position: absolute;
      left: 0px;
}
#video_close2{
      width: 25px;
      height: 25px;
      margin-left: 8px;
}
#video_fieldset{
      height: 296px;
      position: relative;
      top: 67px;
}
#video_upload{
      height: 222px;
      width: 700px;
      text-align: right;
      float: right;
      border: 1px solid black;
      border-radius: 3px;
      position: relative;
      top:42px;
      right:5px;
}
#video_upload_button1{
      position: absolute;
      right: 10px;
      top: 26px;
      width: 180px;
      height: 25px;
}
#video_upload_link1{
      position: absolute;
      right: 200px;
      top: 23px;
      width: 435px;
      height: 30px;
      border-radius: 5px;
}

#video_upload_image{
      position: absolute;
      right: 10px;
      top: 71px;
      width: 180px;
      height: 25px;
}
#video_upload_link2{
      position: absolute;
      right: 200px;
      top: 68px;
      width: 435px;
      height: 30px;
      border-radius: 5px;
}
#video_upload_image2{
      position: absolute;
      right: 645px;
      top: 65px;
      width: 36px;
      height: 36px;
      border-radius: 4px;
}
#video span{
      top: 41px;
      right: 20px;
      font-size: 18px;
      color: #000;
      position: absolute;
      font-weight: bold;
      white-space: nowrap;
}
#video_mute_div{
      position: absolute;
      right: 529px;
      top: 169px;
}
#video_div_loop{
      position: absolute;
      top: 169px;
      right: 410px;
      border-radius: 5px;
}
#video_div_control{
      position: absolute;
      top: 169px;
      right: 94px;
      border-radius: 5px;
}
#video_div_download{
      position: absolute;
      top: 169px;
      right: 236px;
      border-radius: 5px;
}
